<!DOCTYPE html>
<html>
<head>
<title>Mayank ♥ Diskhu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<style>
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>
</head>
<body >

<div id="messages"></div>

<form action="/" method="POST" id="chatForm">
  <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
</form>

<script>
    var socket = io.connect('http://localhost:3001/', { "forceBase64": 1 });
    // submit text message without reload/refresh the page
    $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat_message', $('#txt').val());
        $('#txt').val('');
        return false;
    });

    // append the chat text message
    socket.on('chat_message', function(data){
        if(data.name == 'Dikshu') {
            $('#messages').append($('<div class="container darker">').html(`<img src="/static/dikshu.jpg" class="right" alt="Avatar" style="width:100%;">
              <p>${data.msg}</p>
          <span class="time-right">11:00</span>`));
        } else {
                $('#messages').append($('<div class="container">').html(`<img src="/static/mayank.jpg" alt="Avatar" style="width:100%;">
        <p>${data.msg}</p>
        <span class="time-left">11:00</span>`));
        }
    });

    // append text if someone is online
    socket.on('is_online', function(username) {
        $('#messages').append($('<p>').html(username));
    });

    socket.on('refresh', function(data) {
        $('#messages').empty();
        var i;
        for (i = 0; i < data.length; i++) { 
          if(data[i].name == 'Dikshu') {
              $('#messages').append($('<div class="container darker">').html(`<img src="./static/dikshu.jpg" class="right" alt="Avatar" style="width:100%;">
                <p>${data[i].msg}</p>
            <span class="time-right">11:00</span>`));
          } else {
                  $('#messages').append($('<div class="container">').html(`<img src="./static/mayank.jpg" alt="Avatar" style="width:100%;">
          <p>${data[i].msg}</p>
          <span class="time-right">11:00</span>`));
          }
        }
    });

    // ask username
    do{
      username = prompt('Enter Name: dikshu or mayank');
      console.log('username', username);
      
    }while(username == null || username == "" || (username.toLowerCase() !== 'dikshu' && username.toLowerCase() !== 'mayank'));
    if(username.toLowerCase() === 'dikshu') {
      username = 'Dikshu'
    } else {
      username = 'Mayank'
    }
    socket.emit('username', username);
    
</script>
</body>
</html>